## Ignore nodejs folders and files ##
/node_modules/mkdirp
/node_modules/ws
/node_modules/.bin
/npm-debug.log

## Ignore data folders ##
/data

## Ignore NetBeans files ##
.nbinfo

## Ignore Eclipse files ##
.project
.settings
.classpath

## Ignore application workspace ##
/run
/bin

## Ignore Tern databases ##
.tern-project