## Ignore nodejs folders and files ##
/node_modules
/npm-debug.log

## Ignore data folders ##
/data

## Ignore NetBeans files ##
.nbinfo

## Ignore Eclipse files ##
.project
.settings
.classpath

## Ignore application workspace ##
/run
/bin
